.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

p {
  margin-top: 1px;
  margin-bottom: 1px;
}

.card-body {
  padding-top: 1px;
  padding-bottom: 1px;
}

.card-title {
  text-align: center
}

.card {

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
 }
  
 
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  

.container {
    padding: 2px 16px;
 }